<div class="container-fluid wrapper_header">
  <div>
    LOGO
  </div>
  <div id="header_info">
    <div class="header_item">
      <a href="">О нас</a>
    </div>
    <div class="header_item">
      <a href="" routerLink="allNews">Новости</a>
    </div>
    <div class="header_item">
      <a href="" routerLink="allEvents">Мероприятия</a>
    </div>

    <div class="header_item">
      <a href="">Фото</a>
    </div>
    <div class="header_item">
      <a href="">Контакты</a>
    </div>
    <div class="header_item">
      <a href="" routerLink="personalArea">Личный кабинет</a>
    </div>
    <div class="dropdown header_item">
      <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Полезная информация
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Прием воспитаников</a></li>
        <li><a class="dropdown-item" href="#" >Another action</a></li>
        <li><a class="dropdown-item" href="#">Сведения об ОО</a></li>
      </ul>
    </div>
  </div>

</div>
