<div class="container-fluid wrapper_header">
  <div>

  </div>
  <div id="header_info">
    <div class="header_item">
      <a href="">О нас</a>
    </div>
    <div class="header_item">
      <a href="" routerLink="/allNews">Новости</a>
    </div>
    <div class="header_item">
      <a href="" routerLink="/allEvents">Мероприятия</a>
    </div>
    <div class="header_item">
      <a href="" routerLink="/allTeachers">Воспитатели</a>
    </div>
    <div class="header_item" [class.test]="disabledEnter">
      <a href="" routerLink="/enter">Войти</a>
    </div>
    <div class="header_item" [class.test]="disabledMenu">
      <a href="" routerLink="/personalArea">Личный кабинет</a>
    </div>
    <div class="header_item">
      <a href="" routerLink="/info" >Сведения об ОО</a>
    </div>
  </div>

</div>
