<div class="container">
  <div class="row">
    <div class="col-4">
        <h3>Наши учителя</h3>
        <p class="textDescription">Высококвалифицированные и опытные учителя-носители английского, русского и китайского языков ежедневно проводят уроки во время различных тематических занятий.</p>
        <p class="textDescription">Внимательное отношение к потребностям каждого ребенка во время пребывания в детском саду будет обеспечиваться преподавателем, двумя ассистентами и нянечкой в каждой группе.</p>
        <button id="btn" routerLink="allTeachers">Познакомиться поближе</button>
    </div>
    <div class="col-8  z">
    <!--  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="height: 400px">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-6">
                <div class="teachersRamka">
                  <img src="assets/teacherOne.jpeg" alt="" class="teacherPhoto" routerLink="oneTeacher">
                  <p class="titleTeacher">Полина Храмкина</p>
                </div>
              </div>
              <div class="col-6">
                <div class="teachersRamka">
                  <img src="assets/TeacherTwo.png" alt="" class="teacherPhoto">
                  <p class="titleTeacher">Лиана Муртазина</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-6">
                <div class="teachersRamka">
                  <img src="assets/teacherOne.jpeg" alt="" class="teacherPhoto">
                  <p class="titleTeacher">Полина Храмкина</p>
                </div>
              </div>
              <div class="col-6">
                <div class="teachersRamka">
                  <img src="assets/TeacherTwo.png" alt="" class="teacherPhoto">
                  <p class="titleTeacher">Лиана Муртазина</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>-->


      <div class="row">
        <div class="col-6">
          <div class="teachersRamka">
            <img src="assets/teacherOne.jpeg" alt="" class="teacherPhoto">
            <p class="titleTeacher">{{allTeacher[0].name}} {{allTeacher[0].surname}}</p>
          </div>
        </div>
        <div class="col-6">
          <div class="teachersRamka">
            <img src="assets/TeacherTwo.png" alt="" class="teacherPhoto">
            <p class="titleTeacher">{{allTeacher[1].name}}{{allTeacher[1].surname}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
