<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-3">
        <ul>
          <li routerLink="osnovSved">Основные сведения</li>
          <li routerLink="puntkDva">Структура и органы управления образовательной организацией</li>
          <li routerLink="punktTree">Документы</li>
          <li routerLink="punktFour">Образование</li>
          <li routerLink="punktFive">Руководство. Педагогический (научно-педагогический) состав</li>
        </ul>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
