<div class="container-fluid z animate__animated animate__backInDown ">
  <div class="row align-items-center">
    <div class="container ">
      <div class="row  justify-content-center j" >
        <div class="col-3 k">
          <h2>О нас</h2>
          <p>   Наш сайт в первую очередь адресован тем, кто заинтересован в гармоничном и всестороннем развитии своего ребенка, кто готов поделиться опытом и рассказать о трудностях воспитания и обучения дошкольника, кто желает сотрудничать с квалифицированными специалистами. </p>

        </div>
        <div class="col-6">
          <div id="photo_backTwo">
            <img src="../../assets/home-top.svg" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
<div class="wave">

</div>
