<div class="container">
  <div class="row">
      <h1>Структура и органы управления образовательной организацией</h1>
    <p>Учредителем Учреждения является муниципальное образование «Город Саратов». Функции Учредителя Учреждения в части определенной решениями Саратовской городской Думы и иными муниципальными правовыми актами от имени администрации муниципального образования «Город Саратов» осуществляет администрация Волжского района муниципального образования «Город Саратов».</p>
    <p>Управление Учреждением осуществляется в соответствии с Федеральным законом от 29 декабря 2012 г. № 273-ФЗ «Об образования  в Российской Федерации» на принципах законности, демократии, информационной открытости системы образования и учета общественного мнения и носит государственно-общественный характер.</p>
    <p>Управление Учреждением осуществляется на основе сочетания принципов единоначалия и коллегиальности.</p>
    <p>Непосредственное руководство и управление МДОУ «ЦРР - детский сад № 98 «Алые паруса» осуществляет заведующий Сергеева О.Г., назначаемый и освобождаемый от должности главой администрации Волжского района либо по его доверенности – иным должностным лицом.</p>
    <h3>Управляющая система состоит из двух структур:</h3>
    <p>1 структура – коллегиальное  управление:</p>
    <ul>
      <li>Общее собрание (конференция) работников образовательного учреждения.</li>
      <li><a href="assets/dock/polozhenie-ob-obshhem-sobranii-rabonikov-mdou%20(1).doc">Положение об Общем собрании работников МДОУ</a></li>
      <li>Совет родителей (законных представителей).</li>
      <li><a href="assets/dock/polozhenie-o-sovete-roditelej-mdou.doc">Положение о Совете родителей МДОУ</a></li>
      <li>Педагогический совет.</li>
      <li><a href="assets/dock/polozhenie-o-pedagogicheskom-sovete-mdou.doc">Положение о Педагогическом совете МДОУ</a></li>
    </ul>
    <p>2 структура – административное управление, которое имеет линейную структуру:
      1 уровень управления  – заведующий МДОУ.
      2 уровень управления – старший воспитатель, медперсонал, заместитель заведующего по АХЧ.  Объект их управления – часть коллектива согласно функциональным обязанностям (педагогический персонал, учебно-вспомогательный персонал, обслуживающий персонал).
      3 уровень управления - осуществляется воспитателями, специалистами, медицинским персоналом. Объект управления – дети и родители (законные представители)
      Созданная структура управления не является чем-то неподвижным, она меняется в связи с развитием дошкольного образовательного учреждения и может предопределять изменения в этом развитии.
      Таким образом, в МДОУ реализуется  возможность  участия  в  управлении детским  садом  всех  участников  образовательного  процесса.  Заведующий детским садом занимает место координатора стратегических направлений.

      В Учреждении не допускается создание и деятельность организационных структур, политических партий, общественно-политических, религиозных движений и организаций. Органы самоуправления создаются и действуют в соответствии с Уставом и Положениями об этих органах. Участниками образовательных отношений являются воспитанники, их родители (законные представители), педагогические работники Учреждения.
    </p>
    <p class="z">Заведующий :  Сергеева Ольга Геннадиевна</p>

    <p class="z">Старший воспитатель:Шабанова Екатерина Александровна</p>

    <p class="z"> Заместитель заведующего по АХЧ: Гущин Олег Юрьевич</p>

    <p class="z"> Адрес: 410018, г. Саратов, ул. им. Исаева Н.В., д. 32</p>

    <p class="z"> Телефон: 8-845-239-95-60 (39-95-60)</p>

    <p class="z">  E-mail: 98mdou@mail.ru</p>
  </div>
</div>
