<div class="container-fluid back_img">
  <div class="container ">
    <div class="row align-items-center justify-content-center wrapp">
      <div class="col-5">
        <h2>Преимущества</h2>
        <div class="text">
          Это поможет ученикам не терять любовь и интерес к обучению на протяжении всей жизни. Благодаря самостоятельному обучению и урокам под руководством опытных преподавателей, дети получат возможность изучать и понимать различные языки и культуру.
        </div>
        <div class="text">
          Дети будут учиться играя, с помощью песен, рассказов, общения. Темы, изучаемые на уроках, позволят им узнать о себе и окружающем мире.
        </div>
      </div>
      <div class="col-7 align-items-center justify-content-center">
          <div class="j">
            <div class="row">
              <div class="col-6 border_benefits one">
                <div class="photo_head">

                </div>
                <div>
                  <p>Преподаватели с высшим педагогическим образованием</p>
                </div>
              </div>
              <div class="col-6 border_benefits two">
                <div class="photo_area">

                </div>
                <div>
                  <p>700 кв. метров специально спроектированного пространства</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 border_benefits three">
                <div class="photo_eat">

                </div>
                <div>
                  <p>Cбалансированное 5-ти разовое питание</p>
                </div>
              </div>
              <div class="col-6 border_benefits four">
                <div class="photo_pitanie">

                </div>
                <div>
                  <p>Собственная кухня</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 border_benefits five">
                <div class="photo_area">

                </div>
                <div>
                 <p> Огороженная территория с игровой площадкой</p>
                </div>
              </div>
              <div class="col-6 border_benefits six">
                <div class="photo_map">

                </div>
                <div>
                 <p> Удобное расположение</p>
                </div>
              </div>
            </div>
          </div>

      </div>
      <div class="col-2">

      </div>
    </div>
  </div>

</div>
