<div class="container">
  <div class="row">
    <p class="z">Уровень образования: дошкольное </p>

    <p class="z"> Форма обучения: очная </p>

    <p class="z"> Нормативный срок обучения: 4 года (на каждом этапе - 1 год) </p>

    <p class="z">  Язык, на котором осуществляется образование (обучение): русский </p>

    <p class="z">Проектная мощность: 140 человек </p>

    <p class="z"> Численность обучающихся: 204 человек </p>

    <p class="z"> Используемая программа: «От рождения до школы» под редакцией Н.Е.Вераксы, Т.С.Комаровой,М. А. Васильевой.
      Основная образовательная программа МДОУ "ЦРР - детский сад № 98 "Алые паруса"  (далее Программа) разработана в соответствии с федеральным государственным образовательным стандартом дошкольного образования, примерной основной образовательной программой дошкольного образования (одобрена решением федерального учебно-методического объединения по общему образованию, протокол от 20.05.2015, №2/15) и с учетом примерной ООП ДО "От рождения до школы" / под ред.Н.Е.Вераксы, Т.С.Комаровой, М.А.Васильевой. ООП МДОУ регламентирована нормативно-правовой базой.
    </p>
    <h3>Основные направления:</h3>
    <ul>
      <li>Личностно – ориентированный подход в воспитании и обучении как способность реализации творческого потенциала педагогических работников и воспитанников.</li>
      <li>Изучение и применение новых технологий, способствующих формированию всесторонне развитой личности.</li>
      <li>Обеспечение эмоционального благополучия и сохранение физического здоровья дошкольников, максимальное развитие творческого потенциала, физических и интеллектуальных возможностей.</li>
      <li>Воспитание гражданской позиции у детей, стремление к познанию истории родного края, любви и уважения к традициям, обычаям и культуре его народа.</li>
    </ul>
  </div>
</div>
