<div [class.versia]="versia">
  <button (click)="versiaDla()" class="btn_fz">Версия для слабовидящих</button>
  <app-header></app-header>
  <app-about-us></app-about-us>
  <div class="otsyp"></div>
  <app-four-qulity ></app-four-qulity>
  <div class="otsyp"></div>

  <div class="phone_capla">
    <img src="../../assets/liquid2.svg" alt="">
    <app-benefits></app-benefits>
    <app-groups></app-groups>
    <app-appointment></app-appointment>
  </div>
  <app-teachers></app-teachers>
  <div class="otsyp"></div>
  <div class="phone_img z">
    <app-news></app-news>
  </div>
  <app-footer></app-footer>


</div>
