<div class="container">
    <div class="row">
        <h1>Основные сведения</h1>
      <h3>Муниципальное дошкольное образовательное учреждение </h3>
      <h3>«Центр развития ребенка – детский сад № 98 «Алые паруса»</h3>
      <h3> Администрации Волжского района</h3>
      <p>Дата создания: 2015 г.p  </p>
      <p> Учредитель: муниципальное образование «Город Саратов» в лице Администрации Волжского района</p>
      <p> Адрес Учредителя: 410018, г. Саратов, ул. Соборная пл., 3, </p>
      <p>  Тел./факс (8452) 23-02-07 </p>
      <p> Электронная почта: roovolga@mail.ru </p>
      <p> Адрес ДОУ: Саратовская область, 410018, город Саратов, улица им. Исаева Н.В., дом 32. </p>
      <p> Режим и график работы: понедельник – пятница с 7.00 до 19.00 </p>
      <p> Контактный телефон:8-8452-39-95-60 8-986-989-63-31-заведующий </p>
      <p> Адрес электронной почты: 98mdou@mail.ru </p>
      <a href="assets/dock/rostok.pdf" >Попечительский совет дошкольных образовательных учреждений Волжского района г. Саратова "РОСТОК"</a>
      <a href="assets/dock/rostok-dogovor.pdf">Договор между МДОУ -№98 и СГОО"Росток"</a>
    </div>
</div>
