.appoitment_wrapper{
  padding: 15px;
  background-color: cornflowerblue;
  border-radius: 6px;
}
input{
  height: 50px;
  width: 100%;
}
.btn_margin{
  margin-top: 20px;
  display: flex;
  align-items: center;

}
p{
  font-size: 12px;
}
button{
  border: none;
  color: #1a1919;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
}
