<div class="container">
  <div class="appoitment_wrapper">
    <div class="row">
      <div class="col-sm">
        <input type="text" placeholder="Ваше имя">
      </div>
      <div class="col-sm">
        <input type="text" placeholder="Ваш email">
      </div>
      <div class="col-sm">
        <input type="n" placeholder="Ваш телефон">
      </div>
    </div>
    <div class="row btn_margin">
      <div class="col-4">
        <button>Отправить заявку</button>
      </div>
      <div class="col-8">
        <p>Нажимая на кнопку, вы соглашаетесь на обработку персональных данных на условиях, определенных Политикой Конфиденциальности</p>
      </div>
    </div>
  </div>
</div>
