.z{
  margin: 15px;
  cursor: pointer;
}
.cards{
  margin: 10px;
  cursor:pointer;
}
.cards_title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.cards_title p{
  font-size: 18px;
}
.wrapp{
  background-image: url("../../assets/Photos/1616580684_37-p-fon-gradient-nezhnii-41.png");
  background-attachment: fixed;
  background-repeat: repeat;
  height: 100vh;
}
.card{
  border-radius: 20px;
  padding: 10px;
}
.img_size{
  height: 200px;
}
