<div class="container-fluid back_phone">
  <div class="row heaight_row">
    <div class="col-2">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Новости
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse justife" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="d-grid">

                <button class="btn btn-outline-primary btn-lg" type="button"  routerLink="allNews">Все новости</button>

              <button class="btn btn-outline-primary btn-lg" type="button" routerLink="addNews">Добавить новость</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseOne">
              Мероприятия
            </button>
          </h2>
          <div id="flush-collapseNine" class="accordion-collapse collapse justife" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="d-grid">

              <button class="btn btn-outline-primary btn-lg" type="button"  routerLink="allEvent">Все мероприятия</button>

              <button class="btn btn-outline-primary btn-lg" type="button" routerLink="addEvent">Добавить мероприятие</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Фотогаллерея
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse justife" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="d-grid">
              <button class="btn btn-outline-primary btn-lg" type="button">Все фото</button>
              <button class="btn btn-outline-primary btn-lg" type="button">Добавить новую фотогаллерею</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Информация о детях
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse justife" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="d-grid">
              <button class="btn btn-outline-primary btn-lg" type="button" routerLink="allKids">Список детей</button>
              <button class="btn btn-outline-primary btn-lg" type="button" routerLink="addKids">Добавить ребенка</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Педагогический состав
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse justife" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="d-grid">
              <button class="btn btn-outline-primary btn-lg" type="button" routerLink="allTeachers">Список педагогов</button>
              <button class="btn btn-outline-primary btn-lg" type="button" routerLink="addTeachers">Добавить педагога</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseFour">
              Группы
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse justife" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="d-grid">
              <button class="btn btn-outline-primary btn-lg" type="button" routerLink="allGroup">Все группы</button>
              <button class="btn btn-outline-primary btn-lg" type="button" routerLink="addGroup">Добавить группу</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseOne">
              Заявки на экскурсию
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse justife" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="d-grid">
              <button class="btn btn-outline-primary btn-lg" type="button"  routerLink="allRegistrationForTheExcursion">Все заявки</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseOne">
              Статистика
            </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse justife" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="d-grid">
              <button class="btn btn-outline-primary btn-lg" type="button"  routerLink="statis">Все данные</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 " id="info">
        <router-outlet></router-outlet>

    </div>

  </div>
</div>
