<div class="container">
  <div class="row">
    <h2>Руководство. Педагогический (научно-педагогический) состав</h2>
    <img src="assets/dock/1111(4).jpg" alt="">
    <p>Образование: Кандидат экономических наук, менеджер ГМУ, лингвист-преподователь   </p>
    <p>Тел.  р.39-95-60           с. 8-986-989-63-31</p>

    <img src="assets/dock/222.jpg" alt="">
    <img src="assets/dock/3333.png" alt="">

    <h3> группа "Жемчужинки"</h3>
    <img src="assets/dock/zhemchuga.jpg" alt="">
    <h3>Группа "Морские Звездочки"</h3>
    <img src="assets/dock/zvezdy.jpg" alt="">
    <h3> группа "Осьминожки"</h3>
    <img src="assets/dock/osminogi.jpg" alt="">
  </div>
</div>
